@import "tailwindcss";

@theme {
    --color-background: #FFFBF2;
    --color-foreground: #180F02;

    --color-primary: #F09516;
    --color-secondary: #F02716;
    --color-accent: #F01671;

    --color-accentbg: #F23A87;

    --color-message: #FBE1BC;

    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    --font-sourgummy: var(--font-sour-gummy);
}

body {
    @apply bg-background text-foreground;
    font-family: var(--font-geist-sans);
}