@import "tailwindcss";

@theme {
    --color-background: #ffffff;
    --color-foreground: #171717;

    --color-primary: #F09516;
    --color-secondary: #F02716;
    --color-accent: #F01671;

    /*--color-primary: #2E10A6;*/
    /*--color-secondary: #103DA6;*/
    /*--color-accent: #1088A6;*/

    /*--color-primary: #8617F4;*/
    /*--color-secondary: #F317F4;*/
    /*--color-accent: #F41786;*/

    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

body {
    @apply bg-background text-foreground font-sans;
}